.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: center;
    margin: 10px 0;
    gap: 6px
}

.input {
    padding: 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    border: 1px solid grey;
    border-radius: 10px;
}