.header {
    padding: 5px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    width: 100px;
    overflow-wrap: break-word;
}

.header:hover {
    background-color: pink;
    border-radius: 5px;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}